.junk{
	margin-top:12px;
	
}
.main_e296pg2 {
    position: relative;
    display: block;
    box-sizing: border-box;
}
.subnav hide-print{
	margin-top:2cm;
}
.subnav {
    position: relative;
    background-color: #484848;
	-moz-user-select: none;
}
.page-container-responsive {
    width: 1080px;
padding-left: 24px;
padding-right: 24px;
margin-left: auto;
margin-right: auto;
}
.page-container::before, .page-container-responsive::before, .page-container::after, .page-container-responsive::after {
    content: " ";
    display: table;

}
subnav-list {
    margin-left: -14px;
    margin-right: -14px;
}
.subnav-item {
    color: #bbb;
}

.subnav-text, .subnav-item {
    position: relative;
    float: left;
padding: 10px 14px;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
}
a {
    text-decoration: none;
        text-decoration-color: currentcolor;
        text-decoration-line: none;
        text-decoration-style: solid;
        background: transparent;
    background-color: transparent;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;

}
.page-container::after, .page-container-responsive::after {
    clear: both;
}
.subnav::after {
    clear: both;
}

.subnav::before, .subnav::after {
    content: " ";
    display: table;

}
.space-top-4 {
    margin-top: 24px;
margin-bottom: 24px;
}

.page-container-responsive {
    width: 1080px;
}
.row {
    margin-left: -12px;
    margin-right: -12px;
}
.row::before, .row::after {
    content: " ";
    display: table;
}
.col-md-3 {
    width: 25%;
    float: left;
}
.col-1, .col-sm-1, .col-md-1, .col-lg-1, .col-2, .col-sm-2, .col-md-2, .col-lg-2, .col-3, .col-sm-3, .col-md-3, .col-lg-3, .col-4, .col-sm-4, .col-md-4, .col-lg-4, .col-5, .col-sm-5, .col-md-5, .col-lg-5, .col-6, .col-sm-6, .col-md-6, .col-lg-6, .col-7, .col-sm-7, .col-md-7, .col-lg-7, .col-8, .col-sm-8, .col-md-8, .col-lg-8, .col-9, .col-sm-9, .col-md-9, .col-lg-9, .col-10, .col-sm-10, .col-md-10, .col-lg-10, .col-11, .col-sm-11, .col-md-11, .col-lg-11, .col-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
   


   .sidenav-item[aria-selected="true"] {
    text-decoration: none;
        text-decoration-color: currentcolor;
        text-decoration-line: none;
        text-decoration-style: solid;
    color: #484848;
    font-weight: bold;
}
 padding-left: 12px;
    padding-right: 12px;
}
.sidenav {
	-moz-user-select: none;
}
.sidenav::before, .sidenav::after {
    content: " ";
    display: table;
}
.list-layout, .subnav-list, .sidenav-list {
    margin-bottom: 0;
padding-left: 0;
    list-style: none;
        list-style-type: none;
        list-style-image: none;
        list-style-position: outside;
}
.list-layout, .subnav-list, .sidenav-list {
    margin-bottom: 0;
padding-left: 0;
    list-style: none;
        list-style-type: none;
        list-style-image: none;
        list-style-position: outside;
}
ul, ol {
    margin-top: 0;
}


.sidenav-item[aria-selected="true"] {
    text-decoration: none;
        text-decoration-color: currentcolor;
        text-decoration-line: none;
        text-decoration-style: solid;
    color: #484848;
    font-weight: bold;
}
a {
    background: transparent;
        background-color: transparent;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}

.sidenav-text, .sidenav-item {
    display: block;
    padding: 6px 0;
        padding-top: 6px;
        padding-right: 0px;
        padding-bottom: 6px;
        padding-left: 0px;
    font-size: 16px;
    color: #767676;
}
.sidenav-text, .sidenav-item {
    display: block;
    padding: 6px 0;
        padding-top: 6px;
        padding-right: 0px;
        padding-bottom: 6px;
        padding-left: 0px;
    font-size: 16px;
    color: #767676;
}
a {
    text-decoration: none;
        text-decoration-color: currentcolor;
        text-decoration-line: none;
        text-decoration-style: solid;
    background: transparent;
        background-color: transparent;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}
.sidenav::after {
    clear: both;
}
.sidenav::after {
    clear: both;
}
.sidenav::before, .sidenav::after {
    content: " ";
    display: table;
}
.space-top-4 {
    margin-top: 24px;
}
.btn-block {
    display: block;
    white-space: normal;
    width: 100%;
}
.btn {
    border-color: #c4c4c4;
        border-top-color: rgb(196, 196, 196);
        border-right-color: rgb(196, 196, 196);
        border-bottom-color: rgb(196, 196, 196);
        border-left-color: rgb(196, 196, 196);
    background: white;
        background-color: white;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
    color: #484848;
    padding: 7px 21px;
        padding-top: 7px;
        padding-right: 21px;
        padding-bottom: 7px;
        padding-left: 21px;
    font-size: 14px;
}
.col-md-9 {
    width: 75%;
    float: left;
}
.col-1, .col-sm-1, .col-md-1, .col-lg-1, .col-2, .col-sm-2, .col-md-2, .col-lg-2, .col-3, .col-sm-3, .col-md-3, .col-lg-3, .col-4, .col-sm-4, .col-md-4, .col-lg-4, .col-5, .col-sm-5, .col-md-5, .col-lg-5, .col-6, .col-sm-6, .col-md-6, .col-lg-6, .col-7, .col-sm-7, .col-md-7, .col-lg-7, .col-8, .col-sm-8, .col-md-8, .col-lg-8, .col-9, .col-sm-9, .col-md-9, .col-lg-9, .col-10, .col-sm-10, .col-md-10, .col-lg-10, .col-11, .col-sm-11, .col-md-11, .col-lg-11, .col-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
}
input, textarea, .input-prefix, .input-suffix {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
label, input, textarea, select, input[type="radio"], input[type="checkbox"], .input-prefix, .input-suffix {
    line-height: normal;
}
input, button, select, textarea {
	font-size: inherit;
    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
}
.space-4 {
    margin-bottom: 24px;
}
.panel {
border: 1px solid #dce0e0;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(220, 224, 224);
    border-right-color: rgb(220, 224, 224);
    border-bottom-color: rgb(220, 224, 224);
    border-left-color: rgb(220, 224, 224);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
background-color: #fff;
    border-radius: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
}
.panel-header:first-child, .panel-body:first-child, ul.panel-body > li:first-child, ol.panel-body > li:first-child, .panel-footer:first-child {
    border-top: 0;
        border-top-width: 0px;
        border-top-style: none;
        border-top-color: currentcolor;
}
.panel-dark, .panel-header {
    background-color: #edefed;
}
.panel-dark, .panel-header {
    background-color: #edefed;
}
.panel-header {
    color: #484848;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(220, 224, 224);
}
.panel-dark, .panel-header {
    background-color: #edefed;
}

.panel-header, .panel-body, ul.panel-body > li, ol.panel-body > li, .panel-footer {
    position: relative;
margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
padding: 20px;
padding-right: 20px;padding-left: 20px;
}
.panel-header + .panel-body, .panel-body + .panel-body, ul.panel-body > li + .panel-body, ol.panel-body > li + .panel-body, .panel-footer + .panel-body {
    border-top: none;
        border-top-width: medium;
        border-top-style: none;
        border-top-color: currentcolor;
}

.panel-body {
    position: relative;
}
.panel-header, .panel-body, ul.panel-body > li, ol.panel-body > li, .panel-footer {
margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.panel-body > :first-child {
    margin-top: 0;
}
.space-4 {
    margin-bottom: 24px;
}
.row-condensed {
    margin-left: -6px;
    margin-right: -6px;
}
.row::before, .row::after {
    content: " ";
    display: table;
}
.row-condensed .col-1, .row-condensed .col-sm-1, .row-condensed .col-md-1, .row-condensed .col-lg-1, .row-condensed .col-2, .row-condensed .col-sm-2, .row-condensed .col-md-2, .row-condensed .col-lg-2, .row-condensed .col-3, .row-condensed .col-sm-3, .row-condensed .col-md-3, .row-condensed .col-lg-3, .row-condensed .col-4, .row-condensed .col-sm-4, .row-condensed .col-md-4, .row-condensed .col-lg-4, .row-condensed .col-5, .row-condensed .col-sm-5, .row-condensed .col-md-5, .row-condensed .col-lg-5, .row-condensed .col-6, .row-condensed .col-sm-6, .row-condensed .col-md-6, .row-condensed .col-lg-6, .row-condensed .col-7, .row-condensed .col-sm-7, .row-condensed .col-md-7, .row-condensed .col-lg-7, .row-condensed .col-8, .row-condensed .col-sm-8, .row-condensed .col-md-8, .row-condensed .col-lg-8, .row-condensed .col-9, .row-condensed .col-sm-9, .row-condensed .col-md-9, .row-condensed .col-lg-9, .row-condensed .col-10, .row-condensed .col-sm-10, .row-condensed .col-md-10, .row-condensed .col-lg-10, .row-condensed .col-11, .row-condensed .col-sm-11, .row-condensed .col-md-11, .row-condensed .col-lg-11, .row-condensed .col-12, .row-condensed .col-sm-12, .row-condensed .col-md-12, .row-condensed .col-lg-12 {
    padding-left: 6px;
    padding-right: 6px;
}
.col-sm-3 {
    width: 25%;
    float: left;
}
.col-sm-3 {
    width: 25%;
    float: left;
}
.col-1, .col-sm-1, .col-md-1, .col-lg-1, .col-2, .col-sm-2, .col-md-2, .col-lg-2, .col-3, .col-sm-3, .col-md-3, .col-lg-3, .col-4, .col-sm-4, .col-md-4, .col-lg-4, .col-5, .col-sm-5, .col-md-5, .col-lg-5, .col-6, .col-sm-6, .col-md-6, .col-lg-6, .col-7, .col-sm-7, .col-md-7, .col-lg-7, .col-8, .col-sm-8, .col-md-8, .col-lg-8, .col-9, .col-sm-9, .col-md-9, .col-lg-9, .col-10, .col-sm-10, .col-md-10, .col-lg-10, .col-11, .col-sm-11, .col-md-11, .col-lg-11, .col-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
}
.text-right {
    text-align: right;
}
label {
    display: block;
    padding-top: 9px;
    padding-bottom: 8px;
}
.col-sm-9 {
    width: 75%;
    float: left;
}
[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="number"], [type="tel"], textarea, select, .input-prefix, .input-suffix {
    display: block;
    padding: 8px 10px;
        padding-top: 8px;
        padding-right: 10px;
        padding-bottom: 8px;
        padding-left: 10px;
    width: 100%;
}

[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="number"], [type="tel"], textarea, select, input[type="radio"], input[type="checkbox"] {
    transition: border-color 0.2s;
        transition-property: border-color;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        transition-delay: 0s;
}

[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="number"], [type="tel"], textarea, select, input[type="radio"], input[type="checkbox"], .input-prefix, .input-suffix {
    border-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    background-color: #fff;
    color: #484848;
}
.space-top-1 {
    margin-top: 6px;
}
.text-muted {
    color: #767676;
}
.icon {
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.text-ebisu, .icon-ebisu {
    color: #ffaa91;
}
.icon-lock::before {
    content: '\f1a7';
    line-height: 1;
    font-family: Airglyphs, sans-serif;
}
.screen-reader-only {
    border: 0;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
        margin-top: -1px;
        margin-right: -1px;
        margin-bottom: -1px;
        margin-left: -1px;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    padding: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    position: absolute;
    width: 1px;
}
.select {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}
.select select {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 0;
}
select {-moz-appearance: none;}
a {
    color: #008489;
    text-decoration: none;
        text-decoration-color: currentcolor;
        text-decoration-line: none;
        text-decoration-style: solid;
    background: transparent;
        background-color: transparent;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
phone-numbers-container {
    float: left;
    margin-bottom: 10px;
    position: relative;
    line-height: 38px;
}
.phone-numbers-container, .phone-numbers-table {
    width: 100%;
}
.phone-numbers-container .no-phone-numbers p {
    margin: 0 !important;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
}
.phone-numbers-container table.phone-numbers-table {
    border: 1px solid #d1d1c9;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: rgb(209, 209, 201);
        border-right-color: rgb(209, 209, 201);
        border-bottom-color: rgb(209, 209, 201);
        border-left-color: rgb(209, 209, 201);
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    border-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
}

table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.link-icon {
    color: inherit;
    display: inline-block;
}
.phone-numbers-container .phone-number-verify-widget {
    display: none;
}

.phone-number-verify-widget, .phone-number-replace-widget {
    width: 380px;
}
.phone-number-verify-widget, .phone-number-replace-widget {
    margin: 10px 0;
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
    float: left;
    clear: both;
    line-height: 26px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    border: 1px solid #c3c3c3;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: rgb(195, 195, 195);
        border-right-color: rgb(195, 195, 195);
        border-bottom-color: rgb(195, 195, 195);
        border-left-color: rgb(195, 195, 195);
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
}
.phone-number-verify-widget .pnaw-verification-error, .phone-number-replace-widget .pnaw-verification-error {
    display: none;
    color: #f00;
    line-height: 1.5 !important;
    margin-bottom: 5px !important;
}
.phone-number-input-widget {
    width: 380px;
float: left;
}
.phone-number-input-widget .pniw-number-container .pniw-number-prefix {
    float: left;
    line-height: 32px;
    border: 1px solid #bbb;
        border-top-width: 1px;

border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(187, 187, 187);
    border-right-color: rgb(187, 187, 187);
    border-bottom-color: rgb(187, 187, 187);
    border-left-color: rgb(187, 187, 187);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
border-right-width: 0;
min-width: 30px;
padding: 0 4px;
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
text-align: center;
color: #393c3d;
    border-radius: 2px 0 0 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 2px;
}
.phone-number-verify-widget .pnaw-step2, .phone-number-replace-widget .pnaw-step2 {
    display: none;
}
.phone-number-verify-widget .pnaw-step2 p, .phone-number-replace-widget .pnaw-step2 p {
    margin-bottom: 5px !important;
    line-height: 20px;
}
.phone-number-verify-widget .pnaw-step2 label, .phone-number-replace-widget .pnaw-step2 label {
    margin: 10px 10px 0 0 !important;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
    line-height: 16px;
    float: left;
    width: auto !important;
}
.phone-number-verify-widget .pnaw-step2 label, .phone-number-replace-widget .pnaw-step2 label {
    margin: 10px 10px 0 0 !important;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
    line-height: 16px;
    float: left;
    width: auto !important;
}
.phone-number-verify-widget .pnaw-step2 #phone_number_verification, .phone-number-replace-widget .pnaw-step2 #phone_number_verification {
    width: 60px !important;
}
.phone-number-verify-widget .pnaw-step2 input, .phone-number-replace-widget .pnaw-step2 input {
    float: left;
    margin: 7px 0 0 !important;
        margin-top: 7px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
}
.phone-number-verify-widget .pnaw-step2 .pnaw-verify-container, .phone-number-replace-widget .pnaw-step2 .pnaw-verify-container {
    float: left;
    margin-top: 7px;
}

.phone-number-verify-widget .pnaw-verify-container, .phone-number-replace-widget .pnaw-verify-container {
    width: 100%;
}
.btn-primary {
    border-color: #ff5a5f;
        border-top-color: rgb(255, 90, 95);
        border-right-color: rgb(255, 90, 95);
        border-bottom-color: rgb(255, 90, 95);
        border-left-color: rgb(255, 90, 95);
    background-color: #ff5a5f;
    color: #fff;
}
.btn {background: white;
background-image: none;
background-repeat: repeat;
background-attachment: scroll;
background-clip: border-box;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto auto;
padding: 7px 21px;
    padding-top: 7px;
    padding-right: 21px;
    padding-bottom: 7px;
    padding-left: 21px;
font-size: 14px;
display: inline-block;
margin-bottom: 0;
border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
border: 1px solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
border-left-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
text-align: center;
vertical-align: middle;
font-weight: bold;
line-height: 1.43;
-moz-user-select: none;
    white-space: nowrap;
    cursor: pointer;
}
.phone-number-verify-widget .pnaw-verify-container a.cancel, .phone-number-replace-widget .pnaw-verify-container a.cancel {
    margin-left: 2px;
}
.phone-number-verify-widget .pnaw-step2 .cancel-message, .phone-number-replace-widget .pnaw-step2 .cancel-message {
    clear: left;
    padding-top: 10px;
}
.phone-number-verify-widget .pnaw-verification-error, .phone-number-replace-widget .pnaw-verification-error {
    display: none;
    color: #f00;
    line-height: 1.5 !important;
    margin-bottom: 5px !important;
}
.phone-number-verify-widget .pnaw-verify-container .why-verify, .phone-number-replace-widget .pnaw-verify-container .why-verify {
    float: right;
}
.phone-number-verify-widget .pnaw-verify-container, .phone-number-replace-widget .pnaw-verify-container {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.phone-number-input-widget label {
    float: left;
    margin: 0 10px 0 0 !important;
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
    padding: 0 !important;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    text-align: left !important;
    min-width: 115px;
    width: auto !important;
}
phone-number-input-widget input {
    color: #393c3d !important;
}
.btn-primary {
    border-color: #ff5a5f;
        border-top-color: rgb(255, 90, 95);
        border-right-color: rgb(255, 90, 95);
        border-bottom-color: rgb(255, 90, 95);
        border-left-color: rgb(255, 90, 95);
    background-color: #ff5a5f;
    color: #fff;
}

.btn-large {
    padding: 9px 27px;
        padding-top: 9px;
        padding-right: 27px;
        padding-bottom: 9px;
        padding-left: 27px;
    font-size: 16px;
}
