.container_14xz0pw {
    position: fixed !important;
    z-index: 2000 !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    overflow-y: auto !important;
	box-sizing: border-box;
}
.innerContainer_55rzx8 {
    display: table !important;
    height: 100% !important;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
}
.wrapper_13nncl3 {
    display: table-cell !important;
    vertical-align: middle !important;
    padding: 64px !important;
        padding-top: 64px;
        padding-right: 64px;
        padding-bottom: 64px;
        padding-left: 64px;
}
.content_u9w7hs {
    background-color: #ffffff !important;
    margin: auto !important;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
    max-width: 568px !important;
    width: 100% !important;
    position: relative !important;
}
.contentBox_wpwi48 {
    background-color: #ffffff !important;
padding: 32px !important;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    box-sizing: border-box !important;
}
.container_1rp5252 {
    cursor: pointer !important;
    background-color: transparent !important;
    color: buttontext !important;
    border: 0px !important;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    display: block !important;
}
.container_1xx0s4e-o_O-container_rounded_sa8zo9-o_O-container_block_zdxht7-o_O-container_sizeRegular_1rl6ne5-o_O-container_styleFacebook_1kdu8oa {
    cursor: pointer !important;
transition: background 0.3s, border-color 0.3s !important;
    transition-property: background, border-color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
position: relative !important;
display: inline-block !important;
text-align: center !important;
text-decoration: none !important;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
border: 2px solid transparent !important;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
border-radius: 4px !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
width: 100% !important;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
font-size: 19px !important;
line-height: 22px !important;
letter-spacing: undefined !important;
padding-top: 12px !important;
padding-bottom: 12px !important;
color: #484848 !important;
font-weight: 700 !important;
padding-right: 24px !important;
padding-left: 24px !important;
    background: #4568b2 !important;
        background-color: rgb(69, 104, 178);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}
.text_veo4lx-o_O-text_sizeRegular_15o3clg-o_O-text_styleFacebook_1lslapz {
transition: color 0.3s !important;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
font-size: 19px !important;
line-height: 22px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #ffffff !important;
}
.container_qtix31 {
    display: table !important;
}
.child_17u98ky {
    display: table-cell !important;
    vertical-align: middle !important;
}
.container_1xx0s4e-o_O-container_rounded_sa8zo9-o_O-container_block_zdxht7-o_O-container_sizeRegular_1rl6ne5-o_O-container_styleGoogle_1l8xdci {
    cursor: pointer !important;
transition: background 0.3s, border-color 0.3s !important;
    transition-property: background, border-color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
position: relative !important;
display: inline-block !important;
text-align: center !important;
text-decoration: none !important;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
border: 2px solid transparent !important;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
border-radius: 4px !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
width: 100% !important;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
font-size: 19px !important;
line-height: 22px !important;
}
.text_veo4lx-o_O-text_sizeRegular_15o3clg-o_O-text_styleGoogle_3mnosr {
    transition: color 0.3s !important;
        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 19px !important;
    line-height: 22px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
}
.container_qtix31 {
    display: table !important;
}
.child_17u98ky {
    display: table-cell !important;
    vertical-align: middle !important;
}
.container_12j61cy {
    overflow: hidden !important;
    text-align: center !important;
}
.content_1xktqfm {
    position: relative !important;
    padding: 16px !important;
        padding-top: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
}
.content_1xktqfm::before {
    content: '' !important;
    position: absolute !important;
    border-bottom: 1px solid #e4e4e4 !important;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(228, 228, 228);
    top: 50% !important;
    right: 100% !important;
    width: 5000px !important;
}
.text_5mbkop-o_O-size_small_1gg2mc-o_O-color_muted_10k87om-o_O-inline_g86r3e {
    font-weight: normal !important;
    color: #767676 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
margin: 0px !important;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    word-wrap: break-word !important;
        overflow-wrap: break-word;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;
}
.content_1xktqfm::after {
    content: '' !important;
    position: absolute !important;
    border-bottom: 1px solid #e4e4e4 !important;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(228, 228, 228);
    top: 50% !important;
    left: 100% !important;
    width: 5000px !important;
}
.container_1xx0s4e-o_O-container_rounded_sa8zo9-o_O-container_block_zdxht7-o_O-container_sizeRegular_1flp9iz-o_O-container_styleDefault_1gjmt49-o_O-container_stylePrimary_1hd6v8d {
    cursor: pointer !important;
transition: background 0.3s, border-color 0.3s !important;
    transition-property: background, border-color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
position: relative !important;
display: inline-block !important;
text-align: center !important;
text-decoration: none !important;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
border: 2px solid transparent !important;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
border-radius: 4px !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
width: 100% !important;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
font-size: 19px !important;
line-height: 22px !important;
padding-top: 12px !important;
padding-bottom: 12px !important;
color: #484848 !important;
font-weight: 700 !important;
padding-right: 24px !important;
padding-left: 24px !important;
min-width: 77.66563145999496px !important;
    background: #FF5A5F !important;
        background-color: rgb(255, 90, 95);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}
.text_veo4lx-o_O-text_sizeRegular_15o3clg-o_O-text_styleDefault_1lslapz {
transition: color 0.3s !important;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
font-size: 19px !important;
line-height: 22px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #ffffff !important;
}
.container_qtix31 {
    display: table !important;
}
.text_5mbkop-o_O-size_micro_16wifzf {
    font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
margin: 0px !important;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    word-wrap: break-word !important;
        overflow-wrap: break-word;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 0.4px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.rule_76irmj {
    border-bottom: 1px solid #DBDBDB !important;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(219, 219, 219);
}
.text_5mbkop-o_O-size_regular_x6m9oi-o_O-weight_light_1nmzz2x-o_O-inline_g86r3e {
    font-weight: 300 !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
word-wrap: break-word !important;
    overflow-wrap: break-word;
font-size: 19px !important;
line-height: 24px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;
}
.inlineBlock_36rlri {
    display: inline-block !important;
}
.text_5mbkop-o_O-size_regular_x6m9oi-o_O-inline_g86r3e {
    font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    word-wrap: break-word !important;
        overflow-wrap: break-word;
    font-size: 19px !important;
    line-height: 24px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;
}
.component_9w5i1l {
    color: #008489 !important;
font: inherit !important;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    -x-system-font: none;
    font-feature-settings: inherit;
    font-language-override: inherit;
    font-kerning: inherit;
    font-synthesis: inherit;
    font-variant-alternates: inherit;
    font-variant-caps: inherit;
    font-variant-east-asian: inherit;
    font-variant-ligatures: inherit;
    font-variant-numeric: inherit;
    font-variant-position: inherit;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
text-decoration: none !important;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
        text-decoration-style: solid;
}
